.header
{
        text-decoration: none;
    color: #272932;
        font-family: "Montserrat", sans-serif;
         font-size: 1.6vw;
             margin-top: 5px;
    margin-bottom: 10px;
}
    .header a{
       
           text-decoration: none;
    color: #272932;
        font-family: "Montserrat", sans-serif;
        font-size: 2.0vw;
    }